.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-right: 1000px;
}
.head{
    margin-top: 250px;
    margin-left:60px ;
}
form {
text-align: center;
}

input[type="file"] {
display: block;
margin: 20px auto;
align-items: c;
}

input[type="submit"] {
background-color: #55ACEE;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

/* input[type="file"] {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
} */

input[type="submit"]:hover {
background-color: #2d99ec;
}
/* input[type="file"]:hover {
background-color: #45a049;
} */
body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}