<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLACEMENT DETAILS📝</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <center><h1>UPLOAD DATASET📁</h1></center>
    <center><h3>"Your DATA,Your DISCOVERY"</h3></center>
    <hr>
</head>
<body>
   
    <div class="center-container">
    <form style ="text-align: center;" action='/' method = "POST" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload"> 
     </form>
    </div>
</body>
</html>